#container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100px 50px 250px 100px;
}

#banner {
  background-color: lightblue;
  grid-column: 1/3;
}

#menu {
  background-color: red;
  grid-column: 1/3;
}
#leftbar {
  background-color: rgb(227, 144, 49);
}
#content {
  background-color: #cf0;
}

#footer {
  background-color: blue;
  grid-column: 1/3;
}
